li{
    font-family:'Andale Mono', monospace;
    background-color:transparent;
    font-weight: bolder;
    font-size: 90px;
    padding: 15px;
}

h1 {
    text-transform: uppercase;
    padding-top:90px;
    text-align: center;
    contain: content;
    font-size:90px;
}

h2 {
    text-transform: uppercase;
    margin-left: 10px;
    text-align: center;
    contain: content;
    font-size:50px;
}

h3 {
    text-align: center;
    contain: content;
    font-size: 20px;
}
h4 {
    text-align: left;
    contain: content;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}
h5 {
    contain: center;
    contain: content;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}
h6 {
    contain: center;
    contain:content;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}
a{
    color: rgb(255, 145, 0);
    font-size: 20px;
}