@import "font_Style.css";
@import "flex_box.css";
@import "nav_bar.css";
@import "nav_bar_tgl.css";
@import "icons.css";

body{
  background-color:rgb(0, 0, 0);
  color:white;
  font-family:'Andale Mono', monospace;
}
li{
  list-style-type:none;
  align-items:center;
}